<!DOCTYPE html>
<html lang="zh">
<!-- 默认进入APP的界面 -->
<head>
    <meta charset="UTF-8" />
    <meta keywords="Voice,Voice Emulator,声音模拟器" />
    <meta description="简单声音模拟器" />
    <meta robots="all" />
    <title>Voice Emulator</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/images/icon.png" />
    <script type="module" src="/pwabuilder-sw-register.js"></script>
    
</head>

<body>
    
<h1>简单声音模拟器</h1>
<a href="/users">注册/登录</a>

<p id="login_status"><span><%= login_status %></span></p>
<% if (login) { %>
    <a href="/tools">工具箱</a>
<% } %>
<button id="notification">测试通知</button>
<script src="/js/notification.js"></script>
</body>

</html>