<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <title>注册/登录</title>
</head>

<body onload="autorun();">
    <div class="top_box" >
        <div class="top">
            <div class=top_wrap>
                
            </div>
        </div>
    </div>
    <div class="login_whole">
        <div class="login_box">
            <div class="login_tag">
                <div id="login_choose" href="javascript:" onclick="login_choosed()">
                    <a id="login_choosed" >登录</a>
                </div>
                <div id="register_choose" href="javascript:" onclick="register_choosed()">
                    <a id="register_choosed" >注册</a>
                </div>
            </div>
            <div class="login_content">
                <form action="/users/login" method="post" enctype="application/json" id="loginForm">
                    <p id="login_name">邮箱</p>
                    <input type="text" id="login_mail" name="mail" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" placeholder="请输入邮箱">
                    
                    <p id="login_password">密码</p>
                    <input type="password"  id="login_password" name="ps" pattern="^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,18}$"  placeholder="请输入密码">
                    <button id="login" href="javascript:" onclick="login()">登录</button>
                </form>
                <form action="/users/reg" method="post" enctype="application/json" id="registerForm" target="hidden-frame">
                    <p id="login_name">邮箱</p>
                    <input type="text" id="reg_mail" name="mail" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" placeholder="请输入邮箱">
                    
                    <p id="login_password">密码</p>
                    <input type="password"  id="reg_password" name="ps" pattern="^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,18}$" placeholder="请输入密码">
                    <div class="checked">
                        <p id="register_password">验证码</p>
                        <input type="submit" formaction="/users/getMailCode" formmethod="post" id="getMailCode" value="获取" >
                    </div>
                    
                    <input type="text" name="code" id="code" pattern="[0-9]{6}" placeholder="请输入验证码">
                    <button id="register"  onclick=" register()">注册</button>
                </form>
            </div>
            
        </div>
    </div>
    


    <script src="./js/checkNet.js"></script>
    <script src="./js/register.js"></script>
    <script src="./js/login.js"></script>
    <script>
        
var login_content=document.getElementsByClassName("login_content");
var login_content_div=login_content[0].getElementsByTagName("form");

function autorun(){
    let loginbox=document.getElementsByClassName("login_whole");

    loginbox[0].style.display="block";

    let register_c=document.getElementById("register_choose");
    let login_c=document.getElementById("login_choose");
    register_c.style.backgroundColor="rgb(120, 196, 226)";
    login_c.style.backgroundColor="white";
    login_content_div[0].style.display="block";
    login_content_div[1].style.display="none";
    console.log('111')
}


function login_choosed(){
    let register_c=document.getElementById("register_choose");
    let login_c=document.getElementById("login_choose");
    register_c.style.backgroundColor="rgb(120, 196, 226)";
    login_c.style.backgroundColor="white";
    login_content_div[0].style.display="block";
    login_content_div[1].style.display="none";
}

function register_choosed(){
    
    let login_c=document.getElementById("login_choose");
    let register_c=document.getElementById("register_choose");
    login_c.style.backgroundColor="rgb(120, 196, 226)";
    register_c.style.backgroundColor="white";
    login_content_div[0].style.display="none";
    login_content_div[1].style.display="block";
}

    </script>

    <style>
    *{
    padding:0;
    margin:0;
}

body{
    background-color: lightcyan;
    
}

.top_box{
    height: 35px;
}
.top{
    height:45px;
    background-color: white;
    width:100%;

}


.login_whole{
    display: block;

}
.login_box{
    margin-top:10%;
    margin-left: 35%; 
    width: 30%;
    background-color: white;
    height:100px;
}
.login_tag{
    background-color: rgb(144, 217, 247);

}
.login_tag div {
    width: 39%;
    line-height:50px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 7%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.login_tag div {
    cursor:pointer;
}
.login_tag div a{
    text-decoration: none;
    color: rgb(148, 91, 212);
    font-size: 18px;
    font-weight: bold;
}

.login_content{
    background-color: white;
}
.checked{
    display: flex;
}
#getMailCode{
    height: 30px;
    width: 20%;

    padding: 0;
    font-size: 15px;
}
.login_content p{

    margin-left: 10%;
    margin-top: 10px;
    font-size: 23px;
    font-family: 楷体;
    height: 30px;

}
.login_content input{
    height: 35px;
    width: 80%;
    margin-top: 8px;
    margin-left: 10%;
    border-radius: 15px;
    border: 2px solid #c5c5c5;
    padding-left: 5%;
    font-size: 15px;
}
.login_content button{
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 12%;
    width: 80%;
    height: 40px;
    background-color: white;
    color: rgb(148, 91, 212);
    border: 2px solid #3ce8ff;
    box-shadow: 0px 3px 1px #12c9f7;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}


    </style>
</body>

</html>